.root {
    -fx-background-color: -default-color-background;
    -fx-spacing: 10px;
}

.middle-region {
   -fx-alignment: center;
   -fx-spacing: 40px;
}

.combo-box > .list-cell {
    -fx-alignment: center;
}
