@import "../../css/fonts.css";
@import "../../css/color.css";
@import "../../css/default.css";

.text-area {
   -fx-text-fill: -fx-color-text;
   -fx-prompt-text-fill: derive(-fx-color-text, -40%);
   -fx-wrap-text: true;
}

.text-area .content {
   -fx-background-color: derive(-fx-color-background, 5%);
}

.middle-region {
   -fx-alignment: center;
   -fx-spacing: 40px;
}
